fastapi
uvicorn[standard]
sqlalchemy
pymysql
celery
redis
boto3
python-multipart
pillow
python-socketio
aiofiles
pydantic
pydantic-settings
python-dotenv
cryptography
google-cloud-aiplatform
google-auth
qdrant-client
requests